<footer class="footer">
    <div class="footer__menu">
        <ul class="footer__menu-links">
            <li class="footer__menu-links-item">&copy; Hjalmar-K-sson 2021</li>
            <li class="footer__menu-links-item"><a class="footer__menu-links-item-link" href=""></a></li>
        </ul>
    </div>
</footer>