<nav class="nav">
    <div class="nav__container">
        <a href="/home" class="nav__home-link">
            Independent Restaurant Review
        </a>
        <button type="button" class="nav__toggle-btn" id="navbar-toggle" aria-controls="navbar-menu" aria-label="Toggle menu" aria-expanded="false">
            <span class="nav__icon-bar"></span>
            <span class="nav__icon-bar"></span>
            <span class="nav__icon-bar"></span>
        </button>
        <div id="navbar-menu" class="nav__menu" aria-labelledby="navbar-toggle">
            <ul id="navbar-links" class="nav__links">
                <li class="nav__links-item"><a href="/home" class="nav__links-item-link">Home</a></li>
                <li class="nav__links-item"><a href="/restaurants" class="nav__links-item-link">Restaurants</a></li>
                <li class="nav__links-item"><a href="/restaurants/new" class="nav__links-item-link">Add restaurant</a></li>
            </ul>
        </div>
    </div>
</nav>