<nav class="navbar">
    <div class="nav__container container">
        <a href="#" class="nav__home-link">
            <div class="nav__logo"></div>
            Independent Restaurant Review
        </a>
        <button type="button" id="navbar-toggle" aria-controls="navbar-menu" aria-label="Toggle menu" aria-expanded="false">
            <span class="nav__icon-bar"></span>
            <span class="nav__icon-bar"></span>
            <span class="nav__icon-bar"></span>
        </button>
        <div class="nav__menu" aria-labelledby="navbar-toggle">
            <ul class="nav__links">
                <li class="nav__links-item"><a href="/home" class="nav__links-item-link">Home</a></li>
                <li class="nav__links-item"><a href="/restaurants" class="nav__links-item-link">Restaurants</a></li>
                <li class="nav__links-item"><a href="#" class="nav__links-item-link">Add restaurant</a></li>
            </ul>
        </div>
    </div>
</nav>