@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@700&family=Oswald:wght@200;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@700&family=Oswald:wght@200;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@700&family=Oswald:wght@200;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@700&family=Oswald:wght@200;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@700&family=Oswald:wght@200;300;400&display=swap");
.nav {
  height: 4rem;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: #303030;
  z-index: 10;
}

.nav__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.nav__menu {
  position: fixed;
  top: 4rem;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  left: 0;
  right: 0;
}

.nav__links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  background: #303030;
  border-radius: 0 0 0.1rem 0.1rem;
  padding: 0.5rem;
}

.nav__links-item {
  justify-content: center;
}

.nav__home-link,
.nav__links-item-link {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #a4a6a8;
}

.nav__home-link {
  font-family: "Noto Serif Display", serif;
}

.nav__links-item-link {
  font-family: "Oswald", sans-serif;
  border-radius: 0.5rem;
  margin: 0 0.4rem;
  padding: 0.4rem;
}
.nav__links-item-link:hover {
  background: #53545c;
  color: #e2eaf2;
}

.nav__links-item-link--alert {
  background: #ffd500;
  color: #a4a6a8;
}
.nav__links-item-link--alert:hover {
  background: #a4a6a8;
  color: #ffd500;
}

.nav__toggle-btn {
  border: none;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 3.5rem;
  height: 3.5rem;
}

.nav__icon-bar {
  display: block;
  width: 2.5rem;
  height: 0.3rem;
  margin: 0.1rem;
  background: #e2eaf2;
}

.nav__toggle-btn[aria-expanded=true] .nav__icon-bar:is(:first-child, :last-child) {
  position: absolute;
  margin: 0;
}

.nav__toggle-btn[aria-expanded=true] .nav__icon-bar:first-child {
  transform: rotate(45deg);
}

.nav__toggle-btn[aria-expanded=true] .nav__icon-bar:nth-child(2) {
  opacity: 0;
}

.nav__toggle-btn[aria-expanded=true] .nav__icon-bar:last-child {
  transform: rotate(-45deg);
}

.nav__toggle-btn[aria-expanded=true] + .nav__menu {
  opacity: 1;
  visibility: visible;
  background: transparent;
}

@media screen and (min-width: 769px) {
  .nav__toggle-btn,
.nav__toggle-btn[aria-expanded=true] {
    visibility: hidden;
  }

  .nav__menu,
.nav__toggle-btn[aria-expanded=true] .nav__menu {
    visibility: visible;
    opacity: 1;
    position: static;
    display: block;
  }

  .nav__links,
.nav__toggle-btn[aria-expanded=true] .nav__menu .nav__links {
    margin: 0;
    padding: 0;
    position: static;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background: transparent;
  }
}
.footer {
  color: #e2eaf2;
  background: #303030;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Oswald", sans-serif;
  height: 4rem;
}

.footer__menu-links {
  display: flex;
  flex-direction: row;
  list-style: none;
}
.footer__menu-links .footer__menu-links-item {
  padding: 1rem;
}

.user__form-container img {
  width: 100%;
}

.card {
  grid-column: span 1;
  grid-row: span 1;
  place-self: center;
  box-shadow: 0px 0px 13px 4px rgba(122, 122, 122, 0.5);
}

*, ::after, ::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  height: 100%;
}

.container {
  margin: 5rem auto;
  min-height: calc(100vh - 8rem);
}

.grid-wrapper {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
}

@media (min-width: 320px) {
  .container {
    max-width: 300px;
  }
}
@media (min-width: 425px) {
  .container {
    max-width: 395px;
  }
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}/*# sourceMappingURL=main.css.map */