@use './sass_partials/_navbar.sass'
@use './sass_partials/_footer.sass'
@use './sass_partials/_user-form.sass'
@use './sass_partials/_index.sass'

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@700&family=Oswald:wght@200;300;400&display=swap')
//Fonts:    
$logo-font: 'Noto Serif Display', serif
$nav__menu-font: 'Oswald', sans-serif
//Font weights
$bold: 700
$regular: 400
$light: 300
$extra-light: 200
//Colors
$success-mint: rgb(0, 209, 182)
$danger-salmon: rgb(225, 115, 92)
$alert-yellow: rgb(255, 213, 0)
$main-anthracite: rgb(83, 84, 92)
$main-black: rgb(48, 48, 48)
$main-grey: rgb(164, 166, 168)
$main-white: rgb(226, 234, 242)
$nav-gradient: linear-gradient(to right, #53545c, #66686e, #797c81, #8e9194, #a4a6a8)

// *
//     box-sizing: border-box
//     margin: 0
//     padding: 0
//     // border: 1px solid red

// body
//     height: 100vh
//     height: 100%
//     display: flex
//     flex-direction: column

// .container
//     padding: 0 2rem
//     margin: 5rem auto
//     display: flex
//     flex-direction: column
//     justify-content: center
//     align-items: center
//     position: relative
//     z-index: 9

*, ::after, ::before
    box-sizing: border-box
    margin: 0
    padding: 0

body
    min-height: 100vh
    height: 100%

.container
    margin: 5rem auto
    min-height: calc(100vh - 8rem)

.grid-wrapper
    display: grid
    gap: 1rem
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr))
    grid-template-rows: repeat(auto-fit, minmax(200px, 1fr))

@media (min-width: 320px)
    .container
        max-width: 300px

@media (min-width: 425px)
    .container
        max-width: 395px

@media (min-width: 576px)
    .container
        max-width: 540px

@media (min-width: 768px)
    .container
        max-width: 720px

@media (min-width: 992px)
    .container
        max-width: 960px

@media (min-width: 1400px)
    .container
        max-width: 1320px

@media (min-width: 1400px)
    .container
        max-width: 1320px
