@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@700&family=Oswald:wght@200;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@700&family=Oswald:wght@200;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@700&family=Oswald:wght@200;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@700&family=Oswald:wght@200;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@700&family=Oswald:wght@200;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@700&family=Oswald:wght@200;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@700&family=Oswald:wght@200;300;400&display=swap");
.nav {
  height: 4rem;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: #303030;
  z-index: 10;
}

.nav__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.nav__menu {
  position: fixed;
  top: 4rem;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  left: 0;
  right: 0;
}

.nav__links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  background: #303030;
  border-radius: 0 0 0.3rem 0.3rem;
  padding: 0.5rem;
}

.nav__links-item {
  justify-content: center;
}

.nav__home-link,
.nav__links-item-link {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #a4a6a8;
}

.nav__home-link {
  font-family: "Noto Serif Display", serif;
}

.nav__links-item-link {
  font-family: "Oswald", sans-serif;
  border-radius: 0.3rem;
  margin: 0 0.4rem;
  padding: 0.4rem;
}
.nav__links-item-link:hover {
  background: #53545c;
  color: #e2eaf2;
}

.nav__links-item-link--alert {
  border: 1px solid #ffd500;
  color: #a4a6a8;
  transition: all 0.5s ease-in-out;
}
.nav__links-item-link--alert:hover {
  background: #ffd500;
  color: #53545c;
}

.nav__toggle-btn {
  border: none;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 3.5rem;
  height: 3.5rem;
}

.nav__icon-bar {
  display: block;
  width: 2.5rem;
  height: 0.3rem;
  margin: 0.1rem;
  background: #e2eaf2;
}

.nav__toggle-btn[aria-expanded=true] .nav__icon-bar:is(:first-child, :last-child) {
  position: absolute;
  margin: 0;
}

.nav__toggle-btn[aria-expanded=true] .nav__icon-bar:first-child {
  transform: rotate(45deg);
}

.nav__toggle-btn[aria-expanded=true] .nav__icon-bar:nth-child(2) {
  opacity: 0;
}

.nav__toggle-btn[aria-expanded=true] .nav__icon-bar:last-child {
  transform: rotate(-45deg);
}

.nav__toggle-btn[aria-expanded=true] + .nav__menu {
  opacity: 1;
  visibility: visible;
  background: transparent;
}

@media screen and (min-width: 769px) {
  .nav__toggle-btn,
.nav__toggle-btn[aria-expanded=true] {
    visibility: hidden;
  }

  .nav__menu,
.nav__toggle-btn[aria-expanded=true] .nav__menu {
    visibility: visible;
    opacity: 1;
    position: static;
    display: block;
  }

  .nav__links,
.nav__toggle-btn[aria-expanded=true] .nav__menu .nav__links {
    margin: 0;
    padding: 0;
    position: static;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background: transparent;
  }
}
.footer {
  color: #e2eaf2;
  background: #303030;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Oswald", sans-serif;
  height: 4rem;
  width: 100%;
}

.footer__menu-links {
  display: flex;
  flex-direction: row;
  list-style: none;
}
.footer__menu-links .footer__menu-links-item {
  padding: 1rem;
}

.user__form-container {
  height: 100vh;
  text-align: center;
}

.user__form-card {
  max-width: 25rem;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.user__form-card .user__form {
  width: 100%;
}
.user__form-card img {
  max-width: 25rem;
  width: 100%;
}
.user__form-card .user__form-btn {
  margin-top: 1rem;
  padding: 0.5rem;
  background: #00d1b6;
  color: #e2eaf2;
  font-family: inherit;
  border-color: transparent;
  border-radius: 1rem;
  width: 100%;
}
.user__form-card .user__form-btn:hover {
  color: #00d1b6;
  background: #e2eaf2;
  border-color: #00d1b6;
}

.user__form-field {
  display: block;
  position: relative;
  margin: 1rem auto;
}
.user__form-field label {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: block;
  position: absolute;
  left: 18px;
  transition: font-size 0.3s;
}
.user__form-field input[type=email],
.user__form-field input[type=password],
.user__form-field input[type=text],
.user__form-field textarea[type=text],
.user__form-field select[type=text] {
  width: 100%;
  height: 3rem;
  padding: 16px 18px 0;
  border: 1px solid #303030;
  border-radius: 1rem;
  resize: none;
  outline: none;
}

.user__form-field-label-hint {
  display: none;
  font-size: 11px;
}
input:focus ~ label .user__form-field-label-hint, textarea:focus ~ label .user__form-field-label-hint, select:focus ~ label .user__form-field-label-hint {
  display: inline;
}

input:focus:invalid:-moz-placeholder-shown + label, textarea:focus:invalid:-moz-placeholder-shown + label, select:focus:invalid:-moz-placeholder-shown + label {
  top: 8px;
  font-size: 11px;
  transform: none;
  -moz-transition: top 0.3s, transform 0.3s;
  transition: top 0.3s, transform 0.3s;
}

input:focus:invalid:-ms-input-placeholder + label, textarea:focus:invalid:-ms-input-placeholder + label, select:focus:invalid:-ms-input-placeholder + label {
  top: 8px;
  font-size: 11px;
  transform: none;
  -ms-transition: top 0.3s, transform 0.3s;
  transition: top 0.3s, transform 0.3s;
}

input + label,
textarea + label,
select + label,
input:focus:invalid:placeholder-shown + label,
textarea:focus:invalid:placeholder-shown + label,
select:focus:invalid:placeholder-shown + label {
  top: 8px;
  font-size: 11px;
  transform: none;
  transition: top 0.3s, transform 0.3s;
}

input:invalid:-moz-placeholder-shown + label, textarea:invalid:-moz-placeholder-shown + label, select:invalid:-moz-placeholder-shown + label {
  top: 50%;
  font-size: 20px;
  transform: translate(0, -50%);
}

input:invalid:-ms-input-placeholder + label, textarea:invalid:-ms-input-placeholder + label, select:invalid:-ms-input-placeholder + label {
  top: 50%;
  font-size: 20px;
  transform: translate(0, -50%);
}

input:invalid:placeholder-shown + label,
textarea:invalid:placeholder-shown + label,
select:invalid:placeholder-shown + label {
  top: 50%;
  font-size: 20px;
  transform: translate(0, -50%);
}

input:invalid:not(:-moz-placeholder-shown), textarea:invalid:not(:-moz-placeholder-shown), select:invalid:not(:-moz-placeholder-shown) {
  border: 1px solid red;
}

input:invalid:not(:-ms-input-placeholder), textarea:invalid:not(:-ms-input-placeholder), select:invalid:not(:-ms-input-placeholder) {
  border: 1px solid red;
}

input:invalid:not(:placeholder-shown),
textarea:invalid:not(:placeholder-shown),
select:invalid:not(:placeholder-shown) {
  border: 1px solid red;
}

label.user__form-field-label--file {
  width: 100%;
  height: 3rem;
  padding: 16px 18px 0;
  border: 1px solid #303030;
  border-radius: 1rem;
  resize: none;
  outline: none;
  position: absolute;
  left: 0;
  top: -50%;
}
label.user__form-field-label--file:hover {
  cursor: pointer;
}

.user__form-field-input--file {
  visibility: hidden;
}

#indexMap {
  width: 100%;
  height: 300px;
  border-radius: 0.3rem;
}

h1 {
  margin: 2rem auto;
}

.card {
  grid-column: span 1;
  grid-row: span 1;
  place-self: center;
  background: rgba(83, 84, 92, 0.25);
  box-shadow: 0 0 0.125rem 0.25rem rgba(48, 48, 48, 0.075);
  border-radius: 0.3rem 0.3rem 0.3rem 0.3rem;
}
.card img {
  border-radius: 0.3rem 0.3rem 0 0;
}
.card p {
  font-weight: 300;
  padding: 0.1rem;
}
.card p:first-of-type {
  font-weight: 400;
}
.card p:last-child {
  margin-bottom: 0.5rem;
}

.row {
  -moz-column-span: 1;
       column-span: 1;
}

.glide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.glide__arrows {
  top: 50%;
}
.glide__arrows button {
  color: #303030;
  border-color: #303030;
}

.show__card button {
  padding: 0.5rem;
  background: #e1735c;
  color: #e2eaf2;
  font-family: inherit;
  border-color: transparent;
  border-radius: 0.3rem;
}
.show__card button:hover {
  color: #e1735c;
  background: #e2eaf2;
  border-color: #e1735c;
  cursor: pointer;
}

#showMap {
  width: 100%;
  height: 300px;
  margin-bottom: 2rem;
}

.show__rating {
  margin-bottom: 2rem;
}

.show__rating-input {
  text-align: left;
}
.show__rating-input label {
  margin-left: 0;
}
.show__rating-input textarea {
  display: block;
  width: 100%;
  border-radius: 0.3rem;
}
.show__rating-input button {
  width: 25%;
  margin-left: 0;
  margin-top: 1rem;
  padding: 0.5rem;
  background: #00d1b6;
  color: #e2eaf2;
  font-family: inherit;
  border-color: transparent;
  border-radius: 0.3rem;
  width: 100%;
}
.show__rating-input button:hover {
  color: #00d1b6;
  background: #e2eaf2;
  border-color: #00d1b6;
  cursor: pointer;
}

.show__review {
  margin-bottom: 2rem;
  text-align: left;
  padding: 1rem;
  background: rgba(83, 84, 92, 0.25);
}
.show__review p {
  font-weight: 200;
  margin-bottom: 1rem;
}
.show__review p:first-of-type {
  font-weight: 400;
}
.show__review button {
  padding: 0.5rem;
  background: #e1735c;
  color: #e2eaf2;
  font-family: inherit;
  border-color: transparent;
  border-radius: 0.3rem;
}
.show__review button:hover {
  color: #e1735c;
  background: #e2eaf2;
  border-color: #e1735c;
  cursor: pointer;
}

.flash {
  position: relative;
}
.flash input {
  display: none;
}
.flash input:checked ~ * {
  -webkit-animation-name: dismiss, hide;
          animation-name: dismiss, hide;
  -webkit-animation-duration: 300ms;
          animation-duration: 300ms;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 0s, 100ms;
          animation-delay: 0s, 100ms;
}
.flash input + label {
  position: absolute;
  top: 25%;
  right: 5%;
  font-size: inherit;
}
.flash .flash__inner {
  display: block;
  margin: 1rem;
  padding: 1rem;
  border-radius: 0.3rem;
}
.flash .close {
  float: right;
  cursor: pointer;
}

.flash__icon {
  position: absolute;
  top: 35%;
  left: 5%;
}

.flash--success .flash__inner {
  border: 1px solid #00d1b6;
  background: rgba(0, 209, 182, 0.3);
}

.flash--alert .flash__inner {
  border: 1px solid #ffd500;
  background: rgba(255, 213, 0, 0.3);
}

.flash--error .flash__inner {
  border: 1px solid #e1735c;
  background: rgba(225, 115, 92, 0.3);
}

@-webkit-keyframes dismiss {
  0% {
    opacity: 1;
  }
  90%, 100% {
    opacity: 0;
    font-size: 0.1px;
    transform: scale(0);
  }
}

@keyframes dismiss {
  0% {
    opacity: 1;
  }
  90%, 100% {
    opacity: 0;
    font-size: 0.1px;
    transform: scale(0);
  }
}
@-webkit-keyframes hide {
  100% {
    height: 0px;
    width: 0px;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    border: 0px;
  }
}
@keyframes hide {
  100% {
    height: 0px;
    width: 0px;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    border: 0px;
  }
}
*, ::after, ::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  height: 100%;
  font-family: "Oswald", sans-serif;
}

.container {
  height: 100%;
  margin: 5rem auto;
  min-height: calc(100vh - 8rem);
  text-align: center;
}

.grid-wrapper {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
}

@media (min-width: 320px) {
  .container {
    max-width: 300px;
  }
}
@media (min-width: 425px) {
  .container {
    max-width: 395px;
  }
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}/*# sourceMappingURL=main.css.map */