@use './sass_partials/_navbar.sass'

*
    box-sizing: border-box
    margin: 0
    padding: 0
    // border: 1px solid red

body
    height: 100vh
    line-height: 1.6

.container
    max-width: 1000px
    padding: 0 1.4rem
    margin: 0 auto

main
    margin-top: 5rem
    display: grid
    grid-template-columns: repeat(3, minmax(1fr, 200px))
    grid-auto-rows: minmax(1fr, auto)

.card
    display: inline
    // display: flex
    // flex-direction: column
    // justify-content: center
    // align-items: center
