@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@700&family=Oswald:wght@200;300;400&display=swap')
//Fonts:    
$logo-font: 'Noto Serif Display', serif
$regular-font: 'Oswald', sans-serif
//Font weights
$bold: 700
$regular: 400
$light: 300
$extra-light: 200
//Colors
$success-mint: rgb(0, 209, 182)
$danger-salmon: rgb(225, 115, 92)
$alert-yellow: rgb(255, 213, 0)
$main-anthracite: rgb(83, 84, 92)
$main-black: rgb(48, 48, 48)
$main-grey: rgb(164, 166, 168)
$main-white: rgb(255, 255, 255)
$nav-gradient: linear-gradient(to right, #53545c, #66686e, #797c81, #8e9194, #a4a6a8)

// .footer
//     color: $main-white
//     background: $main-black
//     font-family: $regular-font
//     height: 3rem
//     display: flex
//     flex-direction: row
//     justify-content: center
//     align-items: center
//     position: absolute
//     left: 0
//     right: 0
//     bottom: 0

// .footer__menu-links
//     display: flex
//     flex-direction: row
//     list-style: none

.footer
    color: $main-white
    background: $main-black
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center
    font-family: $regular-font
    height: 4rem
    width: 100%

.footer__menu-links
    display: flex
    flex-direction: row
    list-style: none
    .footer__menu-links-item
        padding: 1rem
