@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@700&family=Oswald:wght@200;300;400&display=swap')
//Fonts:    
$logo-font: 'Noto Serif Display', serif
$nav__menu-font: 'Oswald', sans-serif
//Font weights
$bold: 700
$regular: 400
$light: 300
$extra-light: 200
//Colors
$success-mint: rgb(0, 209, 182)
$danger-salmon: rgb(225, 115, 92)
$alert-yellow: rgb(255, 213, 0)
$main-anthracite: rgb(83, 84, 92)
$main-black: rgb(48, 48, 48)
$main-grey: rgb(164, 166, 168)
$main-white: rgb(226, 234, 242)
$nav-gradient: linear-gradient(to right, #53545c, #66686e, #797c81, #8e9194, #a4a6a8)

// .card
//     grid-column: span 1
//     grid-row: span 1
//     display: flex
//     flex-direction: column
//     justify-content: center
//     align-items: center
//     border: 1px solid $main-anthracite
//     border-radius: 1rem
//     img
//         max-width: 100%
//         height: auto
//         border-radius: 1rem 1rem 0 0

.card
    grid-column: span 1
    grid-row: span 1
    place-self: center
    box-shadow: 0px 0px 13px 4px rgba(122, 122, 122, .5)
