@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@700&family=Oswald:wght@200;300;400&display=swap')
//Fonts:    
$logo-font: 'Noto Serif Display', serif
$nav__menu-font: 'Oswald', sans-serif
//Font weights
$bold: 700
$regular: 400
$light: 300
$extra-light: 200
//Colors
$success-mint: rgb(0, 209, 182)
$danger-salmon: rgb(225, 115, 92)
$alert-yellow: rgb(255, 213, 0)
$main-anthracite: rgb(83, 84, 92)
$main-black: rgb(48, 48, 48)
$main-grey: rgb(164, 166, 168)
$main-white: rgb(255, 255, 255)
$nav-gradient: linear-gradient(to right, #53545c, #66686e, #797c81, #8e9194, #a4a6a8)

//Effects
$transition-time: 0.3s

.newEdit__form-card
    max-width: 25rem
    width: 100%
    margin: 0 auto
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: center
    p#fileCount
        font-weight: $extra-light
        color: $main-grey
    .newEdit__form
        width: 100%
        .newEdit__form-field
            display: flex
            flex-direction: row
            justify-content: space-between
            align-items: center
            margin: 1rem 0
            label
                flex: 1
            label[for="images"]
                flex: 3.5
                padding: 1.5rem 0
                height: 4rem
                border: 1px solid $main-white
                border-radius: .3rem
                background: $alert-yellow
                color: $main-white
                font-size: 1rem
                &:hover
                    cursor: pointer
                    border-color: $alert-yellow
                    background: $main-white
                    color: $alert-yellow
            input,
            select,
            textarea
                flex: 3
                height: 3rem
                border-radius: .3rem
                border: 1px solid $main-black
                padding: .3rem
                font-weight: $light
                &:focus
                    outline: none !important
                    border: 1px solid $alert-yellow

            input[type="file"]
                visibility: hidden
                flex: 1
            textarea
                height: auto

.newEdit__form-field-btns
    display: flex
    flex-direction: row
    justify-content: space-between
    .newEdit__form-btn
        display: inline
        margin-top: 1rem
        margin-bottom: 1rem
        padding: 1rem 0
        font-family: inherit
        border: 1px solid
        border-radius: .3rem
        width: 45%
    .newEdit__form-btn--success
        color: $main-white
        background: $success-mint
        &:hover
            color: $success-mint
            background: $main-white
            border-color: $success-mint
            cursor: pointer
    .newEdit__form-btn--cancel
        color: $main-white
        background: $danger-salmon
        text-decoration: none
        &:hover
            color: $danger-salmon
            background: $main-white
            border-color: $danger-salmon

.newEdit__form-field--deleteFile.newEdit__form-field--deleteFile
    flex-wrap: wrap
    .icon::before
        display: inline-block
        font-style: normal
        font-variant: normal
        text-rendering: auto
        -webkit-font-smoothing: antialiased
    .checked::before
        font-family: "Font Awesome 5 Free"
        font-weight: 400
        content: "\f057"
        color: transparent
        transform: scale(10)
        position: absolute
        top: 50%
        left: 50%
        border-radius: 50%
    input:checked + .checked::before
        content: "\f057"
        color: $danger-salmon

    img
        width: 10rem
        margin-bottom: 1rem
        border-radius: .3rem
    label
        position: relative
        display: inline-block
        width: 10rem
        height: 10rem
        &:hover
            cursor: pointer
    input
        display: none
