@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@700&family=Oswald:wght@200;300;400&display=swap')
//Fonts:    
$logo-font: 'Noto Serif Display', serif
$regular-font: 'Oswald', sans-serif
//Font weights
$bold: 700
$regular: 400
$light: 300
$extra-light: 200
//Colors
$success-mint: rgb(0, 209, 182)
$danger-salmon: rgb(225, 115, 92)
$alert-yellow: rgb(255, 213, 0)
$light-blue: rgb(116, 209, 234)
$main-anthracite: rgb(83, 84, 92)
$main-black: rgb(48, 48, 48)
$main-grey: rgb(164, 166, 168)
$main-white: rgb(255, 255, 255)
$nav-gradient: linear-gradient(to right, #53545c, #66686e, #797c81, #8e9194, #a4a6a8)

.row
    column-span: 1

.glide
    width: 80%
    max-height: 80%
    margin: 0 auto
    .glide__slide
        border-radius: .3rem
        img
            border-radius: .3rem
            // width: 100%
            height: 100%

// .glide__slides
//     max-height: 40rem
//     border-radius: .3rem

//     .glide__slide
//         height: 100%
//         width: 100%
//         div
//             border-radius: .3rem
//             img
//                 object-fit: contain

// .glide__arrows
//     top: 50%
//     .glide__arrow--left
//         left: -0.1rem
//     .glide__arrow--right
//         right: -0.1rem
//     button
//         color: $main-black
//         border-color: $main-black

.show__card
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    .show__info
        margin-top: 1rem
        h2
            font-family: $logo-font
            font-size: 2rem
        span
            display: inline-block
            margin-top: 1rem
            padding: .5rem
            font-size: 1.2rem
            &:last-of-type
                color: rgba($light-blue, .5)
            i
                color: $light-blue
                font-size: 1.8rem
        p
            margin-top: 1rem
            font-size: 1.5rem
            font-weight: $extra-light

.show__card-btns
    display: flex
    flex-direction: row
    margin-top: 1rem
    a
        display: inline-block
        text-decoration: none
        border: 1px solid
    button, a
        padding: .5rem
        font-family: inherit
        border-color: transparent
        border-radius: .3rem
        margin: 0 .5rem
    .show__card-btns--delete
        background: $danger-salmon
        color: $main-white
        font-size: inherit
        border: 1px solid
        &:hover
            color: $danger-salmon
            background: $main-white
            border-color: $danger-salmon
            cursor: pointer
    .show__card-btns--edit
        background: $alert-yellow
        color: $main-white
        &:hover
            color: $alert-yellow
            background: $main-white
            border-color: $alert-yellow
            cursor: pointer
    .show__card-btns--back
        background: $main-grey
        color: $main-white
        &:hover
            color: $main-grey
            background: $main-white
            border-color: $main-grey
            cursor: pointer

#showMap
    width: 100%
    height: 300px
    margin-bottom: 2rem
    border-radius: .3rem

.show__rating
    margin-bottom: 2rem

.show__rating-input
    text-align: left
    label
        // display: block
        margin-left: 0
    textarea
        display: block
        width: 100%
        border-radius: .3rem
    .show__rating-input-btn
        width: 25%
        margin-left: 0
        margin-top: 1rem
        padding: .5rem
        background: $success-mint
        color: $main-white
        font-family: inherit
        border: 1px solid
        border-color: transparent
        border-radius: .3rem
        width: 100%
        &:hover
            color: $success-mint
            background: $main-white
            border-color: $success-mint
            cursor: pointer

.show__review
    margin-bottom: 2rem
    text-align: left
    padding: 1rem
    background: rgba($main-anthracite, .25)
    p
        font-weight: $extra-light
        margin-bottom: 1rem
        &:first-of-type
            font-weight: $regular
    button
        padding: .5rem
        background: $danger-salmon
        color: $main-white
        font-family: inherit
        font-size: inherit
        border: 1px solid
        border-color: transparent
        border-radius: .3rem
        &:hover
            color: $danger-salmon
            background: rgba(212, 212, 214, .2)
            border-color: $danger-salmon
            cursor: pointer
