<% layout('layouts/boilerplate') %>
    <section class="register">
        <form class="user__form" action="/register" method="POST">
            <div class="user__form-field">
                <label class=userr__form-field-label" for="username">Username</label>
                <input class="user__form-field-input" type="text" name="username" id="username" placeholder=" " required
                    autofocus>
            </div>
            <div class="user__form-field">
                <label class="user__form-field-label" for="email">Email</label>
                <input class="user__form-field-input" type="email" name="email" id="email"
                    pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$" placeholder=" "
                    required>
            </div>
            <div class="user__form-field">
                <label class="user__form-field-label" for="password">Password<span>(min. 8 characters, at least one
                        upper and one lowercase letter, at least one special character)</span></label>
                <input class="user__form-field-input" type="password" name="password" id="password"
                    pattern="^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*[*.!@$%^&(){}[]:;<>,.?/~_+-=|\]).{8,32}$" required>
            </div>
            <button id="submit" class="user__form-btn" type="submit">Register</button>
        </form>
    </section>