<% layout('layouts/boilerplate.ejs') %> 
    <h1>All Restaurants</h1>
    <div class="grid-wrapper">
        <% for(let restaurant of restaurants) { %>
            <div class="card">
                <img src="https://res.cloudinary.com/doizzlsa5/image/upload/v1634988664/IRR/kristaps-grundsteins-tQMXs0ee8B0-unsplash_ub5yck.jpg" alt="restaurant photo">
                <h5>
                    <%= restaurant.name %>
                </h5>
                <h6>
                    <%= restaurant.location %>
                </h6>
                <p>
                    <%= restaurant.cuisine %>
                </p>
                <p>
                    <%= restaurant.priceRange %>
                </p>
            </div>
            <% } %>
    </div>
