<% layout('layouts/boilerplate.ejs') %> 
<h1>All Restaurants</h1>
<% for(let restaurant of restaurants) { %>
    <div class="card">
        <img src="https://via.placeholder.com/200" alt="restaurant photo">
        <h5><%= restaurant.name %></h5>
        <h6><%= restaurant.location %></h6>
        <p><%= restaurant.description %></p>
    </div>
<% } %>