<% layout('layouts/boilerplate.ejs') %>
<section class="user__form-container">
    <div class="user__form-card">
        <h2>Add restaurant</h2>
        <form class="user__form" action="/restaurants" method="POST">
            <div class="user__form-field">
                <input class="user__form-field-input" type="text" name="username" id="username" placeholder=" " required
                    autofocus>
                <label class=user__form-field-label" for="username">Username</label>
            </div>
            <div class="user__form-field">
                <input class="user__form-field-input" type="email" name="email" id="email" placeholder=" " required>
                <label class="user__form-field-label" for="email">Email</label>
            </div>
            <div class="user__form-field">
                <input class="user__form-field-input" type="password" name="password" id="password"
                    title="8-32 characters, min. 1 uppercase letter, min. 1 lowercase letter, min. 1 number, min 1 special character."
                    placeholder=" " required>
                <label class="user__form-field-label" for="password">Password<span class="user__form-field-label-hint">
                        8-32 characters, min. 1 uppercase letter, min. 1 lowercase letter, min. 1 number, min 1 special
                        character.</span></label>
            </div>
            <button id="submit" class="user__form-btn" type="submit">Register</button>
        </form>
    </div>
</section>